<%- include('partials/head') %>

    <%- include('partials/navbar') %>

        <h1>Home page <%= 1+ 3 +4%>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus recusandae fugit pariatur quidem
            aspernatur
            omnis
            facere eius, iusto hic officiis, quis corrupti vel. Facilis eveniet tempore incidunt voluptate,
            molestias
            error!
        </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad eius dolore dolores voluptas modi suscipit
            doloribus
            ea beatae officia? Modi nihil molestias aspernatur delectus eveniet? Aspernatur nostrum beatae vitae
            modi!
        </p>

        <%- include('partials/footer') %>